<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stark.android.appbase.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".anim.activity.AnimEnterExitDemoActivity" />
        <activity android:name=".recyclerview.RecycleViewDemoActivity" />
        <activity android:name=".recyclerview.demo.RecycleLayoutManagerDemoActivity" />
        <activity android:name=".webview.WebViewDemoActivity" />
        <activity android:name=".viewpager.ViewPagerDemoActivity" />
        <activity android:name=".utils.UtilsDemoActivity" />
        <activity android:name=".textview.TextViewDemoActivity" />
        <activity android:name=".share.ShareDemoActivity" />
        <activity android:name=".net.NetDemoActivity" />
        <activity android:name=".imagecache.ImageCacheDemoActivity" />
        <activity android:name=".db.DbDemoActivity" />
    </application>

</manifest>